body {
    margin: 0;
    font-family: Verdana;
    background-color: rgb(241, 241, 241);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    width: 100%;
    height: 6em;
    position: fixed;
    z-index: 1;
}
header div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 42px;
}
#imgHeader{
    height: 100%;
}
#imgTexto{
    width: 400px;
    height: 590px;
    margin: 15px;
}
#imgTextochef{
    width: 400px;
    height: 500px;
    margin-left: 40px;
}
.receitas{
    border: 1px solid #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-top: 30px;
    width: 910px;
    height: auto;
}
.receitas p{
    line-height: 25px;
}
#divMensagem{
    height: 20em;
    width: 50%;
    font-family: Verdana;
    font-size: 20px;
}
#divTexto{
    height: 30em;
    width: 50%;
    font-family: Verdana;
    font-size: 20px;
}
#divVermelha{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(193, 38, 44);
    color: #fff;
    width: 100%;
    height: 12em;
}
#divVermelha p {
    margin-left: 12px;
    font-size: 10px;

}
main{
    display: flex;
    flex-direction: column;
}
#bodyChef{
    background-color: rgb(51, 51, 51);
}
#chef{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    margin-left: 15px;
}
#chef h1{
    font-style: italic;
    font-size: 35px;
}
#conteudoChef{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#spanstyle{
    font-size: 16px;
    font-family: open sans,sans-serif;
    line-height: 25px;
}
#reginaPerrotta{
    font-family: cookie , cursive;
    font-size: 50px;  
}
#video{
    display: flex;
    margin-left: 120px;
    margin-bottom: 50px;
    width: 50%;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 6em;
}
.h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.momentosMarcantes{
    display: flex;
    margin-left: 32px;
}

#momentosMarcantes {
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img {
    width: 100%;
    height: 100%;
}
.produto{
    background-color: #c3c3c3;
    border: 1px solid #e2e2e2;
    display: block;
    margin: 15px;
    padding: 15px;
}
.produto_img{
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 0;
    height: 200px;
    margin-bottom: 15px;
    text-align: center;
    width: 200px;
    height: 192px;
}
button{
    margin: 3px 3px;
    background: #d90000;
    border: none;
    color: #fff;
    height: 42px;
}
a {
    text-decoration: none;
    color: #000;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    min-height: 12em;
    margin-top: 2em;
}
#container_footer{
    display: flex;
    justify-content: space-between;
}
footer a {
    color: #fff;
    text-decoration: underline;
}
footer div {
    margin-left: 20px;
}
#social{
    display: flex;
    flex-direction: row;
}
#social img{
    width: 30px;
    height: 30px;
    margin-left: 5px;

}
#copy {
    font-size: 10px;
}
